<html>
<head>
<style>
table1 {
  border-collapse:collapse;
  width:100%;
  max-width:600px!important;
  background-color:transparent
}
table2 {
  border-collapse:collapse;
  width:100%;
  max-width:600px!important;
  background-color:#ffffff;
}

table3 {
  width:600px;
  border-collapse:collapse
}
table4 {
  min-width:100%;
  border-collapse:initial;
  border-top-style:solid;
  border-top-width:2px;
  border-top-color:transparent;
}

main_table {
  border-collapse:collapse;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color:#f5f5f5;
}

main_div {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color:#f5f5f5;
}

.table .td {
  background-color:transparent;
  border-top:0;
  border-bottom:0px;
  padding-top:0px;
  padding-bottom:0px;
}
table_title {
  font-size:16px;
  line-height:110%;
  font-family:Helvetica,Arial,sans-serif;
  color:#666666;
}

table_content {
  word-break:break-word;
  vertical-align:top;
  text-align:left;
  font-size:11px;
  line-height:120%;
  font-family:Helvetica,Arial,sans-serif;
  color:#888888;
  padding-top:9px;
  padding-left:9px;
  padding-bottom:9px;
  padding-right:9px
}

content_label {
  background-color:#f9f9f9;
  width:260px;
  vertical-align:middle;
}

content_content {
  background-color:#f9f9f9;
  width:280px;
  vertical-align:middle;
}
</style>
</head>
<body>
  <div class="main_div">
    <center>
      <table align="center" class="main_table">
        <tbody><tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
<tbody><tr>
  <td align="center" valign="top">

        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="table1">
            <tbody><tr>
              <td valign="top">
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="table3">
                  <tbody><tr>
                    <td valign="top" class="title">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="table1">
  <tbody><tr>
    <td valign="top" class="table_title">

          <table align="left" border="0" cellpadding="0" cellspacing="0" width="390" class="table3">
            <tbody><tr>
              <td valign="top" class="table_content">

              </td>
            </tr>
          </tbody></table>

    </td>
  </tr>
</tbody></table>

                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>

  </td>
</tr>


<tr>
  <td align="center" valign="top">

        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="table2">
            <tbody><tr>
              <td valign="top">
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="table3">
                  <tbody><tr>
                    <td valign="top"  class="table_title">


<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse!important">
  <tbody><tr>
    <td bgcolor="transparent" align="left" style="padding-top:18px;padding-bottom:18px">

      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="table4">
        <tbody>
          <tr>
            <td>
              <span></span>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody></table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse!important">
  <tbody><tr>

        <td bgcolor="transparent" align="center" style="padding:9px 18px">




        <img src="http://imgs.sneppbx.com/snep/email/snep-sig.png" alt="" width="450" border="0" style="border:0;line-height:100%;outline:none;display:block;max-width:450px;height:auto">



    </td>
  </tr>
</tbody></table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse!important">
  <tbody><tr>
    <td bgcolor="transparent" align="left" style="padding-top:18px;padding-bottom:18px">

      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:initial;border-top-style:solid;border-top-width:2px;border-top-color:transparent">
        <tbody>
          <tr>
            <td>
              <span></span>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody></table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse!important">
  <tbody><tr>
    <td bgcolor="transparent" align="left" style="font-size:16px;line-height:1.5;font-family:Helvetica,Arial,sans-serif;color:#666666;padding:9px 18px;word-break:break-word!important">
      <p><?php echo $this->content; ?></p>
    </td>
  </tr>
</tbody></table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse!important">
  <tbody><tr>
    <td bgcolor="transparent" align="left" style="font-size:16px;line-height:1.5;font-family:Helvetica,Arial,sans-serif;color:#666666;padding:9px 18px;word-break:break-word!important">
      <table style="height:152px;margin-left:auto;margin-right:auto">
<tbody>
<tr>
<td style="width:347px;background-color:#eeeeee;vertical-align:middle" colspan="2"><span style="color:#ff6600"><strong><?php echo $this->translate("Call Informations");?></strong></span></td>
</tr>
<tr>
<td class="content_label"><strong><?php echo $this->translate("Call Date");?></td>
<td class="content_content"><?php echo $this->call['calldate']; ?></td>
</tr>
<tr>
<td class="content_label"><strong><?php echo $this->translate("Caller Number");?></td>
<td class="content_content"><?php echo $this->call['source']; ?></td>
</tr>
<tr>
<td class="content_label"><strong><?php echo $this->translate("Destination Number");?></td>
<td class="content_content"><?php echo $this->call['destination']; ?></td>
</tr>
</tbody>
</table>
    </td>
  </tr>
</tbody></table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse!important">
  <tbody><tr>
    <td bgcolor="transparent" align="left" style="padding-top:25px;padding-bottom:25px">

      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:initial;border-top-style:solid;border-top-width:2px;border-top-color:transparent">
        <tbody>
          <tr>
            <td>
              <span></span>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody></table>




                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>

  </td>
</tr>


<tr>
  <td align="center" valign="top" style="background-color:transparent;border-top:0;border-bottom:0px;padding-top:0px;padding-bottom:0px">

        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;width:100%;max-width:600px!important;background-color:transparent">
            <tbody><tr>
              <td valign="top">
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="width:600px;border-collapse:collapse">
                  <tbody><tr>
                    <td valign="top" style="font-size:16px;line-height:110%;font-family:Helvetica,Arial,sans-serif;color:#666666">


<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="width:600px;border-collapse:collapse">
  <tbody><tr>
    <td valign="top" style="font-size:11px;line-height:120%;font-family:Helvetica,Arial,sans-serif;color:#888888;text-align:center;padding-top:9px;padding-bottom:9px;padding-left:9px;padding-right:9px">
      <p style="font-size:11px!important;margin:0;line-height:120%">Powered by <a href="http://www.opens.com.br" target=_blank><b>Opens Tecnologia</b></a></p>
    </td>
  </tr>
</tbody></table>




                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>

  </td>
</tr>




            </tbody></table>
          </td>
        </tr>
      </tbody></table>
    </center>


</div>
</body></html>
